#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
}

#enter {
  position: absolute;
  top: 70%;
  left: 65%;
  background-color: rgb(215, 121, 34);
}
