/*---Test Preloader ---*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9C309E;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f7f7f7;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #4EBFBB;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/*-----Fin loader----*/


/*------- General -----*/
body {
  background-color: #fff;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-family: 'Playfair Display', serif;
}
section{
  height: 100vh;
}

.second {
  background-color: #222;
  height: 2000px;
}

/*------ Header ----*/

.title-header {
  color: #9C309E;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 110px;
  position: relative;
  top: 155px;
  left: 8%;
  width: 900px;
  letter-spacing: 3px;
}

.header-top{
  width: 100%;
  height: 250px;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  background: #222
}
.navbar{
  height: 100%;
}
.logo{
  height: 100%;
  margin-top: 40px;
}

.nav-header {
  list-style: none;
  display: inline-flex;
  margin-top: 100px;
    padding : 0;
}

.nav-header li {
  box-sizing: border-box;
  margin-right: 35px;
  font-size: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-header li a {
  text-decoration: none;
  color: #9C309E;
}

/* ----------- Section ----*/

.description{
  height: 600px;
}


/*------------Description ---*/
.img-description img {
  float: right;
  position: relative;
  top: -400px;
  width: 30%;
  right: 100px;
}


.text-description {
  display: block;
  width: 600px;
  margin-left: 290px;
  padding-top: 75px;
}

.text-description p {
  float: left;
  font-size: 20px;
  color: #4EBFBB;
}

.text-description p:last-child {
  color: #9C309E;
}

/*----- Start box "les chats" ----*/

.chats{
  width: 80%;
  height: 400px;
  background: #4EBFBB;
  margin: 0 auto 0 20px;
  padding: 30px;
}

.title-chats {
  width: 290px;
}

.title-chats h2 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #9C309E;
  margin: 0;
}

.title-chats p {
  margin-left: 10px;
  font-size: 20px;
  text-align: right;
}


/*----Modal-----*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(224, 224, 224);
  background-color: rgba(224, 224, 224, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width:80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
